.App {
  background-color: #59225c;

}

body {
  background-color: #59225c;
  align-items: center;

}

button {
  padding: 2vw;
  margin: 2vw;
  border-radius: 40px;
  font-size: calc(5px + 2vmin);

}

.menu {
  text-align: center;
  align-content: center;
  margin-left: auto !important;
  display: center !important;
  vertical-align: middle;
}

.App-header {
  min-height: 100vh;
  color: white;
  align-content: center;
}

.words {
  color: white;
  padding-left: 20%;
  padding-right: 20%;
  text-align: justify;
  font-size: 20px
}